<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <h1 style="color:blue;"><%-title%></h1>
    <meter min="<%= min %>" max="<%= max %>" value="<%= value %>"></meter>
</body>
</html>